@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-size: cover; /* Ensures it covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
}
*{
  @apply transition-colors duration-200
}
/* Style for the active <li> when the child NavLink is active */
li:has(.active-link) .active-box:hover {
@apply rounded-lg transition-all ease-in-out duration-300 bg-yellow-400
}
.active-link{
  @apply transition-all ease-in-out duration-300
}

/*.scw{
  scale: 0 1;
  animation: scw linear;
  animation-timeline: scroll();
  transform-origin: left;
  @apply h-2 w-full bg-emerald-300 fixed top-0 
}
@keyframes scw{
  to{scale:1 1;}
}*/
.card{
  background-image: url('/cardbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.scrollContainer{
  
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}
.carouselPrimary,
.carouselSecondary{
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.carouselPrimary{
  display: flex;
 
  justify-content: space-around;
  animation: scroll 10s linear infinite;
}
.carouselSecondary{
  animation: scroll 10s linear infinite;
  animation-delay: 5s;
}
@keyframes scroll{
  0%{
    left: 100%;
  }
  100%{
    left: -100%;
  }
}
.inputbox{
  position: relative;
  max-width: 425px;  
}
.inputbox input{
  padding: 8px;
  height: 64px;
  z-index: 5;
  width: 100%;
  outline: none;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid;
}
.inputbox:focus-within .dd{
  top: -12px;
}
.dd{
  top: 0%;
  transition: all .2s ease-in-out;
}

.inputbox label{

font-size: 12px;
position: absolute;
top: 25%;
right: 10px;
}
textarea{
  width: 100%;
  max-width: 425px;
}
.di{
  top: 25%;
  transition: all 0.2s ease-in-out;
}
.inputbox:focus-within .di{
  top: -16px;
  display: flex;
}

textarea{
  transition: all 0.2s ease-in-out;
  background: transparent;
}
textarea:focus{
  outline: none;
  
}
.bb::before{
  content: '';
  background-image: url("/cc.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  inset: 0;
  opacity: .1;
  border-radius: 16px;
}
.ddd:focus::placeholder {
  color: white; /* Hides the placeholder text */
}

.ic:hover{
  border-color: white;
    box-shadow: 0 0 10px white;
}
.aa{
  box-shadow: 0 0 5px white;

}

@media screen and (max-width:49 ){
  .carouselPrimary{
    display: flex;
   
    justify-content: space-around;
    animation: scroll 22s linear infinite;
  }
  .carouselSecondary{
    animation: scroll 22s linear infinite;
    animation-delay: 11s;
  }
}
/* Pause animations on hover for carouselPrimary */
.carouselPrimary:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* Pause animations for carouselSecondary when carouselPrimary is hovered */
.carouselPrimary:hover .carouselSecondary {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* Pause animations on hover for carouselSecondary */
.carouselSecondary:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
@media screen and (min-width:768px ){
  .carouselPrimary{
    display: flex;
   
    justify-content: space-around;
    animation: scroll 22s linear infinite;
  }
  .carouselSecondary{
    animation: scroll 22s linear infinite;
    animation-delay: 11s;
  }
}
/* Pause animations for carouselPrimary when scrollContainer is hovered but carouselPrimary is not */
.scrollContainer:hover .carouselPrimary:not(:hover) {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
